<a href="#" 
  onclick="
    window.open(
      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
      'facebook-share-dialog', 
      'width=626,height=436'); 
    return false;"> 
  <%= image_tag "http://icons.iconarchive.com/icons/icontexto/social-inside/256/social-inside-facebook-icon.png", style: "width: 20%;height:auto;" %>
</a>

<%
=begin
%>
<%= twitter_button %>
<%= facebook_button %>
<%= pinterest_button %>
<%= linkedin_button %>
<%= reddit_button %>
<%= google_plus_button %>
<%= tumblr_button %>
<%= stumble_upon_button %>


<!-- even older -->
<ul class="social_share">
  <li>
    <%= twitter_button %>
  </li>
  <li>
    <%= facebook_button %>
  </li>
  <li>
    <%= pinterest_button %>
  </li>
  <li>
    <%= linkedin_button %>
  </li>
  <li>
    <%= reddit_button %>
  </li>
  <li>
    <%= google_plus_button %>
  </li>
  <li>
    <%= tumblr_button %>
  </li>
  <li>
    <%= stumble_upon_button %>
  </li>
</ul>
<%
=end
%>