<% content_for :header_menu do %>
  
  <div class="col-md-4 col-md-offset-4">
    <!--<div class="frame"></div>-->
    <%= image_tag "quizheading.png", style: "width: 371px; height: auto; margin-top:10px;" %>
  </div>
        
<% end %>
<!--hello-->
<div class="col-md-4 col-md-offset-4">
    <div id = "frame"
    role = "content" >
</div>
<div style="clear:both;"></div>
<div id="submit_results">
  <div class="frame">
    <h2 style="font-size: 18px;">Submit your score to see how you compare!</h2>
  	<%= form_for :result, url: results_path do |f| %>
  		<div>
    	  <div class="inline">
    	    <%= f.label :age %><br>
        </div>
        <div class="inline">
    	    <%= f.text_field :age %>
        </div>
      </div>
  	  
      <div style="clear:both;"></div>
  	   
      <div style="position:relative;left: -12px;margin-top: 5px;">
    	  <div class="inline">
    	    <%= f.label :school %><br>
        </div>
        <div class="inline">
    	    <%= f.text_field :school %>
        </div>
      </div>

      <div style="clear:both;"></div>
      <div style="position:relative;left: -19px;margin-top: 5px;">
    	  <div class="inline">
    	    <%= f.label :zip_code %><br>
        </div>
        <div class="inline">
    	    <%= f.text_field :zip_code %>
        </div>
      </div>
  	  
  	  <div style="display: none;">
  	    <%= f.label :score %><br>
        <%= f.text_field :score, id: "score_amount" %>
  	  </div>

      <div style="display: none;">
        <%= f.label :bracket %><br>
        <%= f.text_field :bracket, id: "bracket_level" %>
      </div>
  	 
  	  <p style="margin-top:10px;">
  	    <%= f.submit 'Submit Result', { :class => 'btn btn_quiz' } %>
  	  </p>
  	<% end %>
  </div>
</div>

<script>
 
 var quiztitle = "";

 var quiz = [
 
        {
            "question" : "Question 1: “Pulling out” doesn’t actually prevent pregnancy.",
            "image" : "http://i.imgur.com/Wh9TYkQ.png",
            "choices" : [
                                    "True",
                                    "False"
                                ],
            "correct" : "True",
            "explanation" : "Condoms and birth control are the only high-percentage pregnancy prevention methods.",
        },
        {
            "question" : "You need a parent to seek out advice on sex topics.",
            //"image" : "http://upload.wikimedia.org/wikipedia/commons/thumb/9/94/US_%242_obverse-high.jpg/320px-US_%242_obverse-high.jpg",
            "choices" : [
                                    "True",
                                    "False"
                                ],
            "correct" : "False",
            "explanation" : "Teachers, school counselors, and Claris Health clinics can all help when you’re not ready to talk to your parents about something.",
        },
        {
            "question" : "Using two condoms lowers the risk for STDs or pregnancy.",
            "image" : "http://i.imgur.com/QFLQtOu.png",
            "choices" : [
                                    "True",
                                    "False"
                                ],
            "correct" : "False",
            "explanation" : "One plus one does not equal twice as safe - it's actually much more risky.",
        },
        {
            "question" : "If a couple is in love, they should definitely be having sex.",
            //"image" : "",
            "choices" : [
                                    "True",
                                    "False"
                                ],
            "correct" : "False",
            "explanation" : "People can be very much in love without rushing into sex.",
        },
        {
            "question" : "You can get STDs just as easily from anal as other kinds of sex.",
            "image" : "http://i.imgur.com/Kvg8OF0.png",
            "choices" : [
                                    "True",
                                    "False"
                                ],
            "correct" : "True",
            "explanation" : "Anal is far from a risk-free alternative and can be even riskier actually.",
        },
        {
            "question" : "If your boyfriend/girlfriend asks nicely to do something sexual, you’re still allowed to say no.",
            //"image" : "",
            "choices" : [
                                    "True",
                                    "False"
                                ],
            "correct" : "True",
            "explanation" : "Asking nicely has nothing to do with it - it's always your choice at the end.",
        },
        {
            "question" : "Sending sexy pics to each other is a good harmless way to get sparks flying.",
            "image" : "http://i.imgur.com/5XBBZ5Y.png",
            "choices" : [
                                    "True",
                                    "False"
                                ],
            "correct" : "False",
            "explanation" : "You never know where that picture will end up, and once it's out you never control it again.",
        },
        {
            "question" : "Only people who “get around a lot” need to get tested for STDs.",
            //"image" : "",
            "choices" : [
                                    "True",
                                    "False"
                                ],
            "correct" : "False",
            "explanation" : "It only takes one encounter to have a reason to get tested - it's always better to know.",
        },
        {
            "question" : "Drunk people are just more honest about wanting to hook up.",
            "image" : "http://i.imgur.com/PE8SQmh.png",
            "choices" : [
                                    "True",
                                    "False"
                                ],
            "correct" : "False",
            "explanation" : "Exactly the opposite - drunk consent isn't really consent at all.",
        },
        {
            "question" : "Straight people are just as vulnerable to HIV & AIDS as gay and other sexualities.",
            //"image" : "",
            "choices" : [
                                    "True",
                                    "False"
                                ],
            "correct" : "True",
            "explanation" : "HIV & AIDS is a threat all communities have to confront equally, and together.",
        },
     

    ];


 var currentquestion = 0,
     score = 0,
     submt = true,
     picked;

 jQuery(document).ready(function ($) {


     function htmlEncode(value) {
         return $(document.createElement('div')).text(value).html();
     }


     function addChoices(choices) {
         if (typeof choices !== "undefined" && $.type(choices) == "array") {
             $('#choice-block').empty();
             for (var i = 0; i < choices.length; i++) {
                 $(document.createElement('li')).addClass('choice choice-box').attr('data-index', i).text(choices[i]).appendTo('#choice-block');
             }
         }
     }

     function nextQuestion() {
         submt = true;
         $('#explanation').empty();
         $('#question').text(quiz[currentquestion]['question']);
         $('#pager').text('Question ' + Number(currentquestion + 1) + ' of ' + quiz.length);
         if (quiz[currentquestion].hasOwnProperty('image') && quiz[currentquestion]['image'] != "") {
             if ($('#question-image').length == 0) {
                 $(document.createElement('img')).addClass('question-image').attr('id', 'question-image').attr('src', quiz[currentquestion]['image']).attr('alt', htmlEncode(quiz[currentquestion]['question'])).insertAfter('#question');
             } else {
                 $('#question-image').attr('src', quiz[currentquestion]['image']).attr('alt', htmlEncode(quiz[currentquestion]['question']));
             }
         } else {
             $('#question-image').remove();
         }
         addChoices(quiz[currentquestion]['choices']);
         setupButtons();


     }


     function processQuestion(choice) {

         if (quiz[currentquestion]['choices'][choice] == quiz[currentquestion]['correct']) {
             $('.choice').eq(choice).css({
                 'background-color': '#50D943'
             });
             $('#explanation').html('<strong>Correct!</strong> ' + htmlEncode(quiz[currentquestion]['explanation']));
             score++;
         } else {
             $('.choice').eq(choice).css({
                 'background-color': '#D92623'
             });
             $('#explanation').html('<strong>Incorrect.</strong> ' + htmlEncode(quiz[currentquestion]['explanation']));
         }
         currentquestion++;
         $('#submitbutton').html('NEXT QUESTION &raquo;').on('click', function () {
             if (currentquestion == quiz.length) {
                 endQuiz();
             } else {
                 $(this).text('Check Your Answer').css({
                     'color': '#222'
                 }).off('click');
                 nextQuestion();
             }
         })
     }


     function setupButtons() {
         $('.choice').on('mouseover', function () {
             $(this).css({
                 'background-color': '#9e9e9e'
             });
         });
         $('.choice').on('mouseout', function () {
             $(this).css({
                 'background-color': '#F6E11E'
             });
         })
         $('.choice').on('click', function () {
             picked = $(this).attr('data-index');
             $('.choice').removeAttr('style').off('mouseout mouseover');
             $(this).css({
                 'border-color': '#222',
                 'font-weight': 700,
                 'background-color': '#c1c1c1'
             });
             if (submt) {
                 submt = false;
                 $('#submitbutton').css({
                     'color': '#000'
                 }).on('click', function () {
                     $('.choice').off('click');
                     $(this).off('click');
                     processQuestion(picked);
                 });
             }
         })
     }


     function endQuiz() {
         $('#explanation').empty();
         $('#question').empty();
         $('#choice-block').empty();
         $('#submitbutton').remove();
         $('#question').text("You got " + score + " out of " + quiz.length + " correct.");

         $(document.createElement('h2')).css({
             'text-align': 'center',
             'font-size': '4em'
         }).text(Math.round(score / quiz.length * 100) + '%').insertAfter('#question');

         $('#submit_results').show();
         $("#score_amount").val(score / quiz.length * 100);

         var bracket = "";
         parseInt(score);
         // var bracket;
         // if ( score > 2 ) {
         //    $('#explanation').text("You are a sexpert!!");
         // } else {
         //    $('#explanation').text("You are a casual sexpert!!");
         // };
         
         if ( score > 2 ) {
            bracket = "sexpert";
         } else {
            bracket = "casual sexpert"
         };
         $("#bracket_level").val(bracket);
 
     }


     function init() {
         //add title
         if (typeof quiztitle !== "undefined" && $.type(quiztitle) === "string") {
             $(document.createElement('h1')).text(quiztitle).appendTo('#frame');
         } else {
             $(document.createElement('h1')).text("Quiz").appendTo('#frame');
         }

         //add pager and questions
         if (typeof quiz !== "undefined" && $.type(quiz) === "array") {
             //add pager
             $(document.createElement('p')).addClass('pager').attr('id', 'pager').text('Question 1 of ' + quiz.length).appendTo('#frame');
             //add first question
             $(document.createElement('h2')).addClass('question').attr('id', 'question').text(quiz[0]['question']).appendTo('#frame');
             //add image if present
             if (quiz[0].hasOwnProperty('image') && quiz[0]['image'] != "") {
                 $(document.createElement('img')).addClass('question-image').attr('id', 'question-image').attr('src', quiz[0]['image']).attr('alt', htmlEncode(quiz[0]['question'])).appendTo('#frame');
             }
             $(document.createElement('p')).addClass('explanation').attr('id', 'explanation').html('&nbsp;').appendTo('#frame');

             //questions holder
             $(document.createElement('ul')).attr('id', 'choice-block').appendTo('#frame');

             //add choices
             addChoices(quiz[0]['choices']);

             //add submit button
             $(document.createElement('div')).addClass('choice-box').attr('id', 'submitbutton').text('Check Your Answer').css({
                 'font-weight': 700,
                 'color': '#222',
                 'padding': '30px 0',
                 'background': '#F6E11E',
             }).appendTo('#frame');

             setupButtons();
         }
     }

     init();
 });

</script>