<%
=begin
%>
<% content_for :top_menu do %>
  <div class=".col-xs-12 .col-sm-6 .col-sm-offset-3 col-md-4 col-md-offset-4">
    <div class="frame">
      <div class="center">
        <h3 style="display:inline-block;">Your</h3>
        <h3 style="color: #9013fe;display:inline-block;margin-left:-9px;">sexpert</h3>
        <h3 style="display:inline-block;margin-left:-9px;">results:</h3>
      </div>
    </div>
    <%#= image_tag "quizheading.png", style: "width: 371px; height: auto; margin-top:10px;" %>
  </div>
<% end %>
<%
=end
%>

<div class=".col-xs-12 .col-sm-6 .col-sm-offset-3 col-md-4 col-md-offset-4" style="text-align: center;">
	<div class="frame">
		<p style="font-size:20px;text-indent:20px;margin:15px;text-align:left;"><%= @result.bracket %></p>
		<div style="clear:both; height: 20px; width:100%;"></div>
		<p style="font-size:30px;display:inline-block;">Score:</p><p style="font-size:30px;display:inline-block;color: #9013fe;margin-left:8px;"><%= @result.score %>%</p>
		<div style="clear:both; height: 20px; width:100%;"></div>

    <%= render partial: 'welcome/social_share' %>
		<%#= link_to('Share on Facebook', 'https://www.facebook.com/dialog/feed?
                                  link=https://developers.facebook.com/docs/reference/dialogs/&
                                  picture=http://fbrell.com/f8.jpg&
                                  name=Facebook%20Dialogs&
                                  caption=Reference%20Documentation&
                                  description=Using%20Dialogs%20to%20interact%20with%20users.&
                                  redirect_uri=http://mighty-brushlands-5068.herokuapp.com/',
                                  :target => :blank) %>


		<!-- <a href="#" 
            onclick="
              window.open(
                'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
                'facebook-share-dialog', 
                'width=626,height=436'); 
              return false;"> -->
      <%#= image_tag "http://icons.iconarchive.com/icons/icontexto/social-inside/256/social-inside-facebook-icon.png", style: "width: 20%;height:auto;" %>
    </a>
	</div>
</div>

<!-- <div class="col-md-4 col-md-offset-4">
	<div class="frame"></div>
	<%#= image_tag "citychart.png", style: "width: 371px; height: auto; margin-top:10px;" %>
</div> -->

<div class=".col-xs-12 .col-sm-6 .col-sm-offset-3 col-md-4 col-md-offset-4">
	<div class="frame">
		<p style="margin: 10px;font-size:18px;">If you have any questions, contact us at <a href="http://yourRealityCheck.org/ask-a-question">YourRealityCheck.org/ask-a-question</a>.</p>
		<p style="margin: 10px;font-size:18px;">To schedule free STD or pregnancy testing, or to talk with a medical professional, visit our clinic website: <a href="http://wpclinic.org">Wpclinic.org</a>.</p>
	</div>
</div>

<div style="display:none;">
	<p>
		<strong>Age:</strong>
		<%= @result.age %>
	</p>
	<p>
		<strong>School:</strong>
		<%= @result.school %>
	</p>
	<p>
		<strong>Zip code:</strong>
		<%= @result.zip_code %>
	</p>
	<p>
		<strong>Score:</strong>
		<%= @result.score %>
	</p>
</div>