<!DOCTYPE html>
<html>
<head>
  <title>SexualIq</title>
  <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
<% 
=begin
%>
	<div class="navbar navbar-fixed-top">
      <div class="navbar-inner navbar-inner2" id="header-bar">
        <div class="container-fluid">
          <div class="col-md-12 centered"> 
            <!--<img src="images/" class="img" />-->
            <h1 style="text-align: center;">What's your sexual IQ?</h1>
          </div> 
        </div>
      </div>
    </div>
<%
=end
%>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 .col-xs-12 .col-sm-12">
        <div class="row">
          <%= yield :header_menu %>
          <%= yield :top_menu %>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
	  <div class="row">
	    <div class="col-md-12 .col-xs-12 .col-sm-12">
	      <div class="row">
					<%= yield %>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
